= link_to image_tag('social-vkontakte.jpg', class: 'social', alt: 'Login through Vkontakte'), user_omniauth_authorize_path(:vkontakte), title: 'Login through Vkontakte'
= link_to image_tag('social-facebook.jpg', class: 'social', alt: 'Login through Facebook'), user_omniauth_authorize_path(:facebook), title: 'Login through Facebook'
= link_to image_tag('social-twitter.jpg', class: 'social', alt: 'Login through Twitter'), user_omniauth_authorize_path(:twitter), title: 'Login through Twitter'
= link_to image_tag('social-github.jpg', class: 'social', alt: 'Login through Github'), user_omniauth_authorize_path(:github), title: 'Login through Github'