@import url(https://fonts.googleapis.com/css?family=Ubuntu&subset=latin,cyrillic);

* {
    font-family: 'Ubuntu', sans-serif;
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    overflow-y: scroll;
}

body::-webkit-scrollbar {
    width: 6px;
}

body::-webkit-scrollbar-track {
    -webkit-border-radius: 6px;
    border-radius: 6px;
}

body::-webkit-scrollbar-thumb {
    -webkit-border-radius: 6px;
    border-radius: 6px;
    background: rgba(217,217,217,0.8);
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

#root_path_button {
    margin-top: 5px;
    padding: 5px;

    a {
        color: #444;
        text-decoration: none;

        &:hover {
            color: #444;
            text-decoration: none;
        }
    }
}

#notice {
    display: inline-block;
    background: #d9534f;
    border-radius: 5px;
    padding: 0 10px;
    color: #FFF;
    margin-bottom: 15px;
}

#answers {
    margin: 30px 0;

    .answer {
        margin: 20px 0;
        border-bottom: 2px solid #888;
        padding-bottom: 15px;
    }
}

#answer_body {
    width: 400px;
}

.edit_question, .edit_answer {
    display: none;
}

#best_answer {
    font-weight: 600;
}


.remove_question_attachment, .remove_answer_attachment {
    margin: 0 5px;
    border: 1px solid #cd0000;
    border-radius: 50%;
    padding: 0 3px;
    color: #cd0000;

    &:hover {
        text-decoration: none;
        color: #cd0000;
    }
}

.btn-vote, .btn-devote {
    margin: 0 5px;
}

#socials {
    img {
        margin: 0 2px;
        width: 32px;
    }
}